.main {
    height: 40vh;
    background-color: #111827;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 80%;
    height: 60%;
    border: solid 2px #289AB6;
    border-radius: 20px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.title{
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 50px;
    font-weight: 900;
    color: white;
    text-align: center;
    margin: 0 0 10px 0;
}
.button{
    width: 200px;
    height: 50px;
    background-color: #111827;
    border: solid #289AB6 3px;
    border-radius: 10px;
    color: #289AB6;
    font-family: 'Sofia Sans Extra Condensed', sans-serif;
    font-size: 24px;
    transition: 300ms ease;
    cursor: pointer;
    margin-left: 2%;
}
.button:hover{
    transform: scale(1.05);
}
@media screen and (max-width : 940px){
    .title {
        font-size: 30px;
    }
    .button{
        width: 150px;
        height: 30px;
    }
}
@media screen and (max-width : 940px){
    .title {
        font-size: 20px;
    }

}
